// Below mentioned requirements are the scope for this cron job utility.
// This will have core requirements, basically MVP that will contain only the must have features.

Core requirements :
Functional :

1. It should schedule a task at a given time.
2. Multiple tasks can be scheduled at the same time.
3. It should not block scheduling new task in case of over running task.
4. Proper status update should happen along with storing relevant details.
5. Some jobs would be dependent on previous job - ensure prerequisite job is completed before triggering dependent job.
6. Descriptors : seconds, minute, hour
7. In case a job exceeds a threshold execution time then an alert needs to be raised.

Non Functional :
1. Must have unit test cases
2. No external library has to be used

End goal :
Publish it such that it can be used.